.orders-container {
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 800px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .order-table th,
  .order-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    font-size: 1rem;
  }
  
  .order-table th {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .order-table tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  .order-table tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
  }
  
  .order-table ul {
    padding: 0;
    margin: 0;
    list-style-type: disc;
    padding-left: 20px;
    color: #666;
  }
  
  .loading-message,
  .no-orders-message {
    font-size: 1.5rem;
    color: #666;
  }
  
  .loading-message {
    animation: fadeIn 1s infinite alternate;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  .back-button-container {
    text-align: left;
    margin-bottom: 20px;
  }
  
 
  .back-button {
    background-color: #ffff;
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #f1f1f1;
    transform: scale(1.05);

  }