.table-container {
    margin: 30px auto;
    overflow-x: auto;
    max-width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background-color: #ffffff;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
}

th {
    background-color: #8c97a2;
    color: #f3f3f3;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border: none;

}

td {
    padding: 12px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.vip-customer {
    font-weight: bold;
}

.vip-badge {
    background-color: gold;
    color: black;
    font-weight: bold;
    font-size: 12px;
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 6px;
}

button {
    padding: 10px 16px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    margin-left: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button.delete-btn {
    background-color: #dc3545;
}

button.delete-btn:hover {
    background-color: #a71d2a;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    padding: 10px 16px;
    background-color: #647d98;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #5f6872;
}

.pagination button.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
